<!DOCTYPE html>
<html>
<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="style.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
	<title>About - Melt Your Vacation</title>
</head>
<body>
<% include menu.ejs %>
    <div class="container mt-5">
        <div class ="d-flex justify-content-center">
            <h4 class = "mb-5">Welcome to admin version of Melt Your Vacation tour booking service.</h4>
            <h6 class = "mb-5">Current version allowes adding new authorized accounts and send emails.</h6>
        </div>
    </div>


    <div class="page-footer">
<% include footer.ejs %>
    </div>
