<!DOCTYPE html>
<html>
<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="style.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
	<title>Sign Up - Melt Your Vacation</title>
</head>
<body>
    <div class="container">
        <br>
        <form  class="form" method="POST">
            <div class="text-center mb-4">
                <h1 class="h3 mb-3 font-weight-bold">Authorized accounts:</h1>
            </div>

            <div class="form-label-group mb-3">
                <label>Usernames:</label>
                <% for (var i = 0; i < data.length; i++) { %>
                    <li><%=data[i].userName %></li>
                    <% } %>
                </div>
            </form>
        </div>


        <div class="container">
            <br>
            <form class="form-signin" method="POST" >
                <div class="text-center mb-4">
                    <h1 class="h3 mb-3 font-weight-bold">Add a new authorized account:</h1>
                </div>

                <div class="form-label-group mb-3">
                    <label>Username</label>
                    <input type="text" name="newName" class="form-control" placeholder="Enter Username">
                </div>

                <div class="form-label-group mb-3">
                    <label>Password</label>
                    <input type="password" name="newPassword" class="form-control" placeholder="Enter Password">
                </div>

                <button class="btn btn-primary"
                type="submit" name="submit" value="Enter">Sign Up</button>


                <p class="mt-5 mb-3 text-muted text-center">© MeltYourVacation, 2019</p>
            </form>

        </div>



    <div class="page-footer">

    </div>
